In [1]:
### import libraries
import argparse
import json
import requests
from collections import defaultdict
import pandas as pd
import numpy as np

In [2]:
### credentials
# go to graphQL explorer & copy the token
# debug & extend the token - https://developers.facebook.com/tools/debug/accesstoken/?access_token=1188185338645694%7Clu6paxlAjEydJwExj0DCZqR-TRg&version=v16.0
ACCESS_TOKEN = "EAALF3LZBKPzcBAHtweCQRqwtsDSzgZAN4ZALhNlZAWWDsO6OEtUWUnLTrSLl9mtWMYyrWIDIRKL6sbgWo27NixMoBXztLDyzbH2JMBfsFfDmsxniYrmexsziPXpD9iK7MfgYWYsBlAZBAwUmgxyglQUPD5MIyoDRI8UkwciwxQqpDjJJG0VPf3ZCGUbnkFIzoZD"

In [3]:
### functions

def calculate_impressions_midpoint(data):
    """Calculate impressions midpoint"""
    # Convert from a string of characters into an integer
    upper_bound = int(data["impressions"]["upper_bound"])
    lower_bound = int(data["impressions"]["lower_bound"])

    return round((upper_bound + lower_bound) / 2)

def calculate_impressions_by_region(data, impressions):
    """Calculate impressions by regions"""
    # Create a new dict to contain the results
    result = {}

    # Loop through each region and calculate the impressions
    for chunk in data["delivery_by_region"]:
        result[chunk["region"]] = round(impressions * float(chunk["percentage"]))

    return result

def calculate_impressions_by_gender(data, impressions):
    """Calculates impressions by gender"""
    # Create a new dict to contain the results. The categories are pre-populated with 0s.
    results = {"male": 0, "female": 0, "unknown": 0}

    # Loop through demographic data
    for d in data["demographic_distribution"]:
        # Let's break this expression down:
        # 1. result[d["gender"]] looks for the key in the result dict that matches d["gender"]
        # 2. += is a short hand operator for addition and assignment. e.g. foo +=1 is the same
        #    as foo = foo + 1
        # 3. float(d["percentage"]) converts the JSON data into a decimal number (programmers
        #    call those floats because the decimal can move around).
        # 4. round(impressions * float(d["percentage"])) multiplies the percentage by the
        #    impressions and rounds up to the nearest integer
        results[d["gender"]] += round(impressions * float(d["percentage"]))

    return results

def calculate_impressions_by_age(data, impressions):
    """Calculate impressions by age"""
    # Create a new default dict to contain the results. The default dict makes any new element
    # default to a value specified by the user. In our case we're defaulting to an integer 0.
    # int is actually a function that retuns 0 when called with no arguments
    results = defaultdict(int)

    # Loop through the demographic data and add up the impressions
    for d in data["demographic_distribution"]:
        # Let's break this expression down:
        # 1. result[d["age"]] looks for the key in the result dict that matches d["age"]. If
        #    there is no key that matches d["age"] the default dict will make one with the value
        #    of int(), which is always 0.
        # 2. += is a short hand operator for addition and assignment. e.g. foo +=1 is the same
        #    as foo = foo + 1
        # 3. float(d["percentage"]) converts the JSON data into a decimal number (programmers
        #    call those floats because the decimal can move around).
        # 4. round(impressions * float(d["percentage"])) multiplies the percentage by the
        #    impressions and rounds up to the nearest integer
        results[d["age"]] += round(impressions * float(d["percentage"]))

    return results

In [4]:
### list of page IDs
idList = ['106039214814684',
'102281724942742',
'738063612887865',
'341751646428117',
'591566840920364',
'105502284969626',
'49560242814',
'101691091213750',
'113891694102',
'292970844058835',
'100801038449520',
'108095672108380',
'111394533709201',
'107500120800840',
'101242238726088',
'237209147160346',
'110124925319299',
'396341921119746',
'108203188195224',
'106656845034469',
'47710973068',
'482100658584410']

In [5]:
"""Entrypoint of the program"""

# Store the paginated data in here
data = []

# create dataframe
df = pd.DataFrame()

# for each item in the list, store their data in the pandas dataframe

# This might work for our request
for i in idList:
    print(i)
    response = requests.get("https://graph.facebook.com/v5.0/ads_archive", params={
    "access_token": ACCESS_TOKEN,
    "ad_type": "POLITICAL_AND_ISSUE_ADS",
    "ad_active_status": "ALL",
    "search_page_ids": i,
    "ad_reached_countries": ["US"],
    "ad_delivery_date_min": "2018-05-24",
    "ad_delivery_date_max": "2023-06-11",
    "fields": "id, ad_delivery_start_time, ad_delivery_stop_time, ad_snapshot_url, bylines, delivery_by_region, demographic_distribution, impressions, publisher_platforms, spend, ad_creative_bodies, ad_creative_link_captions, ad_creative_link_descriptions, ad_creative_link_titles, page_name, page_id"
})
    # Get the json document and pull out the next link and the data
    json = response.json()
    
    try:
        next_link = json['paging']['next']
        data = data + json['data']
    except KeyError:
        continue

    while next_link:
      print('.', end='')
      response = requests.get(next_link)
      json = response.json()
      if 'paging' not in json:
        break
      next_link = json['paging']['next']
      data = data + json['data']
    print('\n')

    # append data to dataframe
    res = pd.json_normalize(data)
    df.append(res)

106039214814684
.....

102281724942742
.........................................................................................

738063612887865
.......................................................................................................................

341751646428117
..

591566840920364
............................................

105502284969626
.

49560242814
..........................................................................................

101691091213750
.........................................................................................

113891694102
......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................

292970844058835
.

100801038449520
..............................................................................

108095672108380
..

111394533709201
.

107500120800840
.............

101242238726088
.............

237209147160346
..................

110124925319299
.

396341921119746
......

108203188195224
.........

106656845034469
........

47710973068
..............................................................................

482100658584410
.........................................

In [6]:
res

,id,ad_delivery_start_time,ad_delivery_stop_time,ad_snapshot_url,bylines,delivery_by_region,demographic_distribution,publisher_platforms,ad_creative_bodies,ad_creative_link_captions,ad_creative_link_descriptions,ad_creative_link_titles,page_name,page_id,impressions.lower_bound,impressions.upper_bound,spend.lower_bound,spend.upper_bound
0,1343142396186676,2022-01-13,2022-05-31,https://www.facebook.com/ads/archive/render_ad...,Affordable Energy Coalition,"[{'percentage': '0.000545', 'region': 'Idaho'}...","[{'percentage': '0.000133', 'age': '13-17', 'g...","[facebook, instagram]",[Middle-class families are being pushed out of...,[affordableenergycoalition.org],[Tell the City What’s at Stake],[You Can Fight the Ban],Affordable Energy Coalition,106039214814684,20000,24999,600,699
1,619401349138540,2022-01-13,2022-05-31,https://www.facebook.com/ads/archive/render_ad...,Affordable Energy Coalition,"[{'percentage': '0.000434', 'region': 'Idaho'}...","[{'percentage': '0.000106', 'age': '13-17', 'g...","[facebook, instagram]",[Middle-class families are being pushed out of...,[affordableenergycoalition.org],[Tell the City What’s at Stake],[You Can Fight the Ban],Affordable Energy Coalition,106039214814684,25000,29999,800,899
2,879439772752678,2022-01-14,2022-05-31,https://www.facebook.com/ads/archive/render_ad...,Affordable Energy Coalition,"[{'percentage': '0.00037', 'region': 'Idaho'},...","[{'percentage': '0.000605', 'age': '18-24', 'g...","[facebook, instagram]",[Middle-class families are being pushed out of...,[affordableenergycoalition.org],[Tell the City What’s at Stake],[You Can Fight the Ban],Affordable Energy Coalition,106039214814684,15000,19999,0,99
3,1297817217381527,2022-01-13,2022-05-31,https://www.facebook.com/ads/archive/render_ad...,Affordable Energy Coalition,"[{'percentage': '1', 'region': 'Washington'}]","[{'percentage': '0.000242', 'age': '18-24', 'g...","[facebook, instagram]",[Middle-class families are being pushed out of...,[affordableenergycoalition.org],[Tell the City What’s at Stake],[You Can Fight the Ban],Affordable Energy Coalition,106039214814684,7000,7999,0,99
4,3090071534604776,2022-01-14,2022-05-31,https://www.facebook.com/ads/archive/render_ad...,Affordable Energy Coalition,"[{'percentage': '0.00191', 'region': 'Idaho'},...","[{'percentage': '0.000526', 'age': '18-24', 'g...","[facebook, instagram]",[Middle-class families are being pushed out of...,[affordableenergycoalition.org],[Tell the City What’s at Stake],[You Can Fight the Ban],Affordable Energy Coalition,106039214814684,10000,14999,0,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34817,189303645276959,2018-07-31,2018-08-03,https://www.facebook.com/ads/archive/render_ad...,We Stand For Energy,"[{'percentage': '1', 'region': 'North Dakota'}]","[{'percentage': '0.001258', 'age': '18-24', 'g...","[facebook, instagram]",[North Dakota is leading the way in energy inn...,NaN,NaN,NaN,We Stand For Energy,482100658584410,0,999,0,99
34818,192309774968058,2018-07-31,2018-08-03,https://www.facebook.com/ads/archive/render_ad...,We Stand For Energy,"[{'percentage': '1', 'region': 'North Dakota'}]","[{'percentage': '0.000596', 'age': '18-24', 'g...","[facebook, instagram]",[Help keep energy bills low by supporting a br...,NaN,NaN,NaN,We Stand For Energy,482100658584410,1000,1999,0,99
34819,263101847818994,2018-07-31,2018-08-03,https://www.facebook.com/ads/archive/render_ad...,We Stand For Energy,"[{'percentage': '1', 'region': 'North Dakota'}]","[{'percentage': '0.001269', 'age': '18-24', 'g...","[facebook, instagram]",[Wind energy helps create jobs in North Dakota...,NaN,NaN,NaN,We Stand For Energy,482100658584410,4000,4999,0,99
34820,1031653150337021,2018-05-09,2018-06-10,https://www.facebook.com/ads/archive/render_ad...,NaN,"[{'percentage': '1', 'region': 'Virginia'}]","[{'percentage': '0.001071', 'age': '18-24', 'g...","[facebook, instagram, audience_network, messen...",[The Army Corps of Engineers has signed off on...,[WeStandForEnergy.com],[Tell the State Water Board: We Want Jobs!],[Take Action Today!],We Stand For Energy,482100658584410,50000,59999,1000,1499
34821,1870122529956895,2018-05-09,2018-06-07,https://www.facebook.com/ads/archive/render_ad...,NaN,"[{'percentage': '1', 'region': 'Virginia'}]","[{'percentage': '0.001062', 'age': '18-24', 'g...","[facebook, instagram, audience_network, messen...",[The Atlantic Coast Pipeline will spur even fu...,[WeStandForEnergy.com],[Tell the State Water Control Board: Approve t...,[Speak up!],We Stand For Energy,482100658584410,15000,19999,300,399

### Clean & Export Data

### For Summary Table

In [7]:
# check NaNs:
# res['ad_delivery_stop_time'][res['ad_delivery_stop_time'].isna()]

# fill NaN with '999'
res['ad_delivery_stop_time'] = res['ad_delivery_stop_time'].fillna('999')

In [8]:
# create 'ad start month' and 'ad start year' column
res['ad_start_month'] = res['ad_delivery_start_time'].str.split('-').str[1].astype(int)
res['ad_start_year'] = res['ad_delivery_start_time'].str.split('-').str[0].astype(int)

In [9]:
# convert string to integer
res['spend.lower_bound'] = res['spend.lower_bound'].astype('int')
res['spend.upper_bound'] = res['spend.upper_bound'].astype('int').round(-2)

In [10]:
# title case for bylines column
res['bylines'] = res['bylines'].str.title()

In [11]:
res[0:1]

,id,ad_delivery_start_time,ad_delivery_stop_time,ad_snapshot_url,bylines,delivery_by_region,demographic_distribution,publisher_platforms,ad_creative_bodies,ad_creative_link_captions,ad_creative_link_descriptions,ad_creative_link_titles,page_name,page_id,impressions.lower_bound,impressions.upper_bound,spend.lower_bound,spend.upper_bound,ad_start_month,ad_start_year
0,1343142396186676,2022-01-13,2022-05-31,https://www.facebook.com/ads/archive/render_ad...,Affordable Energy Coalition,"[{'percentage': '0.000545', 'region': 'Idaho'}...","[{'percentage': '0.000133', 'age': '13-17', 'g...","[facebook, instagram]",[Middle-class families are being pushed out of...,[affordableenergycoalition.org],[Tell the City What’s at Stake],[You Can Fight the Ban],Affordable Energy Coalition,106039214814684,20000,24999,600,700,1,2022

In [12]:
# export raw data
res.to_csv("../data/all-front-group-ads-061223.csv")

In [13]:
resjson = res[['page_name', 'id', 'spend.lower_bound', 'spend.upper_bound']].groupby('page_name').agg({'id':'count', 'spend.lower_bound': 'sum', 'spend.upper_bound': 'sum'}).reset_index().rename(columns={'page_name':'name', 'id':'ads', 'spend.lower_bound': 'lowerAmount', 'spend.upper_bound':'upperAmount'}).sort_values(by="upperAmount", ascending=False).reset_index(drop=True)

In [21]:
resjson

,name,ads,lowerAmount,upperAmount
0,Energy Citizens,17341,8569800,11932000
1,Voices for Cooperative Power,1663,994900,1363200
2,Natural Allies for a Clean Energy Future,1946,829500,1183800
3,The Empowerment Alliance,2205,590000,924000
4,Consumer Energy Alliance,2229,583100,922500
5,Alliance for Michigan Power,2970,207200,526800
6,Citizens Energizing Michigan's Economy,1100,237300,378700
7,Affordable Energy for New Jersey,2204,89900,315100
8,Seniors Across America,210,238300,314300
9,Power for Tomorrow,315,210100,275100
10,Partnership for Energy Progress,317,175400,239100
11,Smarter NY Energy,193,131800,177200
12,We Stand For Energy,1015,68700,176600
13,New Yorkers For Affordable Energy,12,74100,88200
14,Cooperative Action Network,282,32000,66400
15,Affordable Energy Coalition,117,45200,65300
16,Save Our Stoves,22,43500,51600
17,Real Coalition Iowa,446,3700,48700
18,SC Clean Energy For All,132,6800,20400
19,Californians for Balanced Energy Solutions,49,12500,19000
20,Coalition for Cleaner Affordable Energy,20,5500,7900
21,Natural Gas for the Next Generation,33,0,3300
22,Jobkeeper Alliance,1,1500,2000

In [14]:
# export data
resjson.to_json('../data/summary-061223.json', orient = 'records')

### For Individual Tables

In [15]:
# unpack the dataset to access region data
result = pd.concat([res.explode('delivery_by_region').drop(['delivery_by_region'], axis=1),
           res.explode('delivery_by_region')['delivery_by_region'].apply(pd.Series)],
          axis=1)

In [16]:
# convert to float type 
result['percentage'] = result['percentage'].astype(float)

In [17]:
# calculate lower & upper amount spent per region
result['lowerAmount'] = result['percentage'] * result['spend.lower_bound']
result['upperAmount'] = result['percentage'] * result['spend.upper_bound']

In [20]:
# view data
result[['page_name', 'region', 'lowerAmount', 'upperAmount']].groupby(['page_name', 'region']).sum(['lowerAmount', 'upperAmount']).reset_index().rename(columns={'page_name':'name'})

,name,region,lowerAmount,upperAmount
0,Affordable Energy Coalition,British Columbia,0.0940,0.1410
1,Affordable Energy Coalition,California,0.1195,0.1337
2,Affordable Energy Coalition,Colorado,0.1080,0.1260
3,Affordable Energy Coalition,Idaho,94.9952,136.0257
4,Affordable Energy Coalition,Indiana,0.0700,0.1050
...,...,...,...,...
3072,We Stand For Energy,Washington,440.3581,1014.7315
3073,We Stand For Energy,"Washington, District of Columbia",762.8655,1618.5424
3074,We Stand For Energy,West Virginia,434.9903,861.6881
3075,We Stand For Energy,Wisconsin,368.0419,788.0598
3076,We Stand For Energy,Wyoming,48.5625,106.9739

In [31]:
# if the percentage amount is less 10%, don't include it
# result.query("percentage >.10")
result.query(" page_name == 'Cooperative Action Network' ")

,id,ad_delivery_start_time,ad_delivery_stop_time,ad_snapshot_url,bylines,demographic_distribution,publisher_platforms,ad_creative_bodies,ad_creative_link_captions,ad_creative_link_descriptions,...,impressions.upper_bound,spend.lower_bound,spend.upper_bound,ad_start_month,ad_start_year,0,percentage,region,lowerAmount,upperAmount
32991,750221999168886,2020-10-15,2020-11-04,https://www.facebook.com/ads/archive/render_ad...,National Rural Electric Cooperatives Association,"[{'percentage': '0.001451', 'age': '45-54', 'g...",[facebook],"[$12,758,986+ in #RuralElectric savings could ...",NaN,NaN,...,6999,0,100,10,2020,NaN,1.000000,Iowa,0.0,100.0000
32997,2866632236898388,2020-10-15,2020-11-04,https://www.facebook.com/ads/archive/render_ad...,National Rural Electric Cooperatives Association,"[{'percentage': '0.001697', 'age': '65+', 'gen...",[facebook],"[$142,046,500+ in #RuralElectric savings could...",NaN,NaN,...,6999,0,100,10,2020,NaN,1.000000,Louisiana,0.0,100.0000
32999,384818842924661,2020-10-15,2020-11-04,https://www.facebook.com/ads/archive/render_ad...,National Rural Electric Cooperatives Association,"[{'percentage': '0.000733', 'age': '45-54', 'g...",[facebook],"[$366,225+ in #RuralElectric savings could hap...",NaN,NaN,...,2999,0,100,10,2020,NaN,1.000000,New York,0.0,100.0000
33006,374171577100739,2020-10-05,2020-10-15,https://www.facebook.com/ads/archive/render_ad...,National Rural Electric Cooperatives Association,"[{'percentage': '0.036011', 'age': '25-34', 'g...",[facebook],"[$732,151,740+ in #RuralElectric savings could...",NaN,NaN,...,3999,0,100,10,2020,NaN,1.000000,Texas,0.0,100.0000
33008,344688343463209,2020-10-05,2020-10-15,https://www.facebook.com/ads/archive/render_ad...,National Rural Electric Cooperatives Association,"[{'percentage': '0.028617', 'age': '25-34', 'g...",[facebook],"[$3,265,150+ in #RuralElectric savings could h...",NaN,NaN,...,2999,0,100,10,2020,NaN,1.000000,Wyoming,0.0,100.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33805,2103515723243218,2018-05-18,2018-05-25,https://www.facebook.com/ads/archive/render_ad...,NaN,"[{'percentage': '0.012841', 'age': '18-24', 'g...",[facebook],"[""With electricity prices flat in most markets...",NaN,NaN,...,999,0,100,5,2018,NaN,0.001605,Maine,0.0,0.1605
33805,2103515723243218,2018-05-18,2018-05-25,https://www.facebook.com/ads/archive/render_ad...,NaN,"[{'percentage': '0.012841', 'age': '18-24', 'g...",[facebook],"[""With electricity prices flat in most markets...",NaN,NaN,...,999,0,100,5,2018,NaN,0.006421,Maryland,0.0,0.6421
33805,2103515723243218,2018-05-18,2018-05-25,https://www.facebook.com/ads/archive/render_ad...,NaN,"[{'percentage': '0.012841', 'age': '18-24', 'g...",[facebook],"[""With electricity prices flat in most markets...",NaN,NaN,...,999,0,100,5,2018,NaN,0.001605,Massachusetts,0.0,0.1605
33805,2103515723243218,2018-05-18,2018-05-25,https://www.facebook.com/ads/archive/render_ad...,NaN,"[{'percentage': '0.012841', 'age': '18-24', 'g...",[facebook],"[""With electricity prices flat in most markets...",NaN,NaN,...,999,0,100,5,2018,NaN,0.020867,Michigan,0.0,2.0867
33805,2103515723243218,2018-05-18,2018-05-25,https://www.facebook.com/ads/archive/render_ad...,NaN,"[{'percentage': '0.012841', 'age': '18-24', 'g...",[facebook],"[""With electricity prices flat in most markets...",NaN,NaN,...,999,0,100,5,2018,NaN,0.009631,Wyoming,0.0,0.9631

In [23]:
# export data
result[['page_name', 'region', 'lowerAmount', 'upperAmount', 'percentage']].query("percentage > 0.10").groupby(['page_name', 'region']).sum(['lowerAmount', 'upperAmount']).reset_index().rename(columns={'page_name':'name'}).to_json('../data/individual-061223.json', orient = 'records')